<div class="row">
  <main class="col-s col-md-10 col-lg-8">
    <article class="ml-3 mr-3">
      <section class="section-introduction">
        <div class="pt-3 bg-light">
          <h2>The Chichester School Board PSERS Narrative</h2>
          <div class="pl-sm-2 pl-md-5 pr-sm-2 pr-md-5 article-image-container">
            <div>
              <img class="rounded article-image"
                   [appLightboxImage]="'https://cdn.chichesterschoolwatch.com/articles/psers-narrative/bartholf-misleads-taxpayers-on-defict.png'"
                   [appLightboxImageCaption]="'Thanks to generous increases in state reimbursements, Chichester\'s
          share of pension costs have decreased 2 years in a row. This stands in stark contrast to the narratives pushed by the board.'"
                   src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/bartholf-misleads-taxpayers-on-defict.png" />
            </div>
          </div> 
          <h3 class="mt-3">Part 2: Bartholf Uses PSERS as Scapegoat for Deficit (w/videos)</h3>
          <p>
            <i>By Joe Cooper <time> Feb 11th, 2020</time></i>
          </p>
        </div>
        <p>
          <i>
            In this multi-part series, I’ll cover the actual impact of pensions (PSERS) on
            Chichester School District finances as well as the narratives and tactics that
            are being employed to pin blame on PSERS and divert accountability for district
            spending increases and budget deficits away from the Chichester School Board of Directors.
          </i>
        </p>
        <h5>Part 2 - Topics Covered</h5> 
        <ul>
          <li>Video - Bartholf Uses PSERS As Scapegoat for $2 Million Deficit</li>
          <li>Video Analysis: Bartholf's Narrative vs Reality</li>
          <li>The many fruitless attempts to seek explanation from the board</li>
          <li>Video - Board members find it comical for a taxpayer to challenge their PSERS Narrative</li>
        </ul>
      </section>
    <section class="section-psers-video-intro">
      <h5 class="bg-info text-white rounded p-2 pl-0">
          Bartholf Uses PSERS As Scapegoat for $2 Million Deficit
      </h5> 
      <p>
        Last year, Chichester School District's preliminary budget featured a $2 million deficit (which ultimately grew into
        a $3.47 million deficit in the final budget). At the 5-22-19 Chichester School Board Meeting, I asked the school board
        the following question about the preliminary budget deficit:<br/>
        <q class="font-weight-bold">How do we plan to resolve the 2 million dollar deficit?</q>
      </p>
      <p>
        Region 1 board member David Bartholf seized the opportunity to push his PSERS
        narrative. In a convincing speech, he went to great lengths to suggest that increasing
        pension costs (PSERS) were responsible for the deficit. I have to admit, he did a great job at selling
        his narrative. With his respectable roles as Board Treasurer and Finance Committee member,
        combined with his authoritative delivery, who wouldn't believe him?
      </p>
      <p>
        Have a look at the video below. What you should know is that
        <span class="font-weight-bold">pensions (PSERS) had absolutely nothing to do with the deficit</span>.
        In fact, Chichester's share of pensions (PSERS) decreased for the second year in a row.
        I cover the actual impact of PSERS on Chichester SD finances extensively and show you how to verify the data yourself in part 1 of this series -
        <a href="https://www.chichesterschoolwatch.com/blog/2020/2/6/psers-narrative-part-1-actual-impact">Part 1: The Actual Impact of PSERS on Chichester SD</a>.
      </p>
      <div class="bg-light">
        <p class="font-weight-bold">Board Questioned - How do we plan to resolve the 2 million dollar deficit?</p>
        <div class="videoWrapper">
          <iframe width="560" height="349" src="https://www.youtube.com/embed/sj7jhecIuhk"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <p class="mt-2">
          <i>
            This segment is taken from the full video of the 5-22-19 board meeting hosted on the district's site. Frank Sill (in maroon) is the older
            gentleman who first responds to the question (albeit not the actual question asked). Mr Bartholf (in blue) delivers his compelling PSERS
            narrative starting at 0:35. Board President, Ruth Anne Baiocco (center) idly stands by and does nothing to stop Mr Bartholf
            from pushing his narrative onto unsuspecting taxpayers.
          </i>
        </p>

      </div>
    </section> 
    <section class="section-psers-video-analysis">
      <h5 class="bg-info text-white rounded p-2 pl-0">Video Analysis: Bartholf's Narrative vs Reality</h5>
      <p>
        Let's discuss the above video. Behind every narrative are some bits of truth. While Mr Bartholf doesn't exactly lie, he does conveniently
        leave out critical information. While he doesn't explicitly state: 'PSERS caused the $2 million deficit
        in the preliminary budget', he blindfolds and leads taxpayers to the edge of the cliff he has crafted.
      </p>
      <span class="font-weight-bold">Consider The Following:</span> 
      <ol>
        <li>
          Remember the question asked is 'How does the board plan to resolve the 2 million dollar deficit?'.
          Mr Bartholf goes on and on talking about PSERS, painting a distorted portrait of district finances.
          He neglects to mention how Chichester's share of PSERS has decreased two years in a row and
          has absolutely nothing to do with the deficit.
          Check out the chart below or read more here about the <i>actual</i> numbers.: <a href="https://www.chichesterschoolwatch.com/blog/2020/2/6/psers-narrative-part-1-actual-impact">Part 1: The Actual Impact of PSERS on Chichester SD</a>.
        </li>
        <li>
          He places great emphasis on contribution rates, how they are currently around '33%', and how they increase
          every year. He goes on to assert that their is nothing built into the budget to handle these increases. While
          the rates are high, as discussed in Part 1, Chichester isn't actually on the hook for that entire amount. He
          neglects to mention the existence of state reimbursement money (specifically for PSERS), how state money they receive
          covers more than half the share of pension contributions, or how it increases every year as well. He leaves out the
          part that state money has increased so much, that Chichester's share has decreased 2 years in a row. (see chart below)
        </li>
        <li>
          He boasts about the boards '10-Year Plan' where a bunch of taxpayer money has been stashed away
          to supposedly mitigate
          future rate increases, even suggesting that the board is ahead of the pack.
          This is all just setup for when the ultimate truth is finally realized at the end of the video - they planned to
          use the PSERS fund to cover the 2 million dollar deficit. He neglects to mention how
          they planned once-again to funnel money through
          a fund named after PSERS to cover a deficit having nothing to do with PSERS. This time they planned
          to funnel 2 million dollars through said fund.
        </li>
      </ol>
      <p>
        <i>
          ...ultimately the board managed to grow the $2 million preliminary budget deficit into
          a $3.47 million deficit in the final budget. The majority of that deficit, having nothing to do with PSERS,
          was of course covered by the PSERS fund.
        </i>
      </p>
 
      <div class="bg-light">
          <p class="d-block font-weight-bold">State's share goes up (red), Chichester's share goes down (blue)</p>
          <img class="rounded article-image"
               [appLightboxImage]="'https://cdn.chichesterschoolwatch.com/articles/psers-narrative/chart-psers-state-vs-chihcester-share.png'"
               [appLightboxImageCaption]="'Thanks to generous increases in state reimbursements, Chichester\'s
          share of pension costs have decreased 2 years in a row. This stands in stark contrast to the narratives pushed by the board.'"
               src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/chart-psers-state-vs-chihcester-share.png" />

        </div>
    </section>
      <section>
        <h5>Fruitless Attempts To Get Explanation From The Board</h5>
        <div class="border rounded mt-3 mb-3">
          <div class="font-weight-bold bg-info text-white rounded p-2">
            Attempt #3 - Jan 21, 2020 Board Meeting - Citizen Comment
          </div>
          <div class="p-3">
            <p>
              <span class="font-weight-bold">Synopsis</span>: This is a video of a presentation
              I delivered denouncing the board's multi-faceted PSERS narrative. The board was well prepared for
              the points I made since I had emailed them about these very topics well in advance (starting 12-19-2019).
              Topics included misleading PSERS figures published in the local papers, Bartholf's statements
              at the 5-22-19 board meeting, and the clever funneling of
              money through a PSERS fund to cover unrelated deficits.
            </p>
            <div class="videoWrapper mb-3">
              <iframe width="900" height="506" src="https://www.youtube.com/embed/b_1Pc7hQvlQ"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <p>
              <span class="font-weight-bold">Response</span>: While Baiocco, Sill, Bartholf & Montella
              offer plenty of snickers and smirks, none of them offer any explanation to the points brought forward to the board.
              One would think if they had some sort of valid explanation, they would have just come out
              and said it (or would have responded to any of the numerous emails sent to them on these topics).
              They can't really argue my case on the merits. The evidence is quite
              clear. The best they can hope for, is that by laughing me off, they can effectively
              invalidate me to any onlookers and save political face. Politics first, Community last.
            </p> 
          </div>
        </div>
        <div class="border rounded mt-3 mb-3">
          <div class="font-weight-bold bg-info text-white rounded p-2">
            Attempt #2 - Email, January 11th, 2020
          </div>
          <div class="p-3"> 
            <p>
              <span class="font-weight-bold">Subject</span>: Fwd: Request For Comments - 5-22-19 Board Meeting - PSERS Impact on Deficit
            </p>
            <p>
              <span class="font-weight-bold">Recipients</span>: All Board Members
            </p>
            <p>
              <span class="font-weight-bold">Synopsis</span>: Forwarded previous email and
              extended all board members to comment.
            </p>
            <p>
              <span class="font-weight-bold">Response</span>: No Response
            </p>
          </div>
        </div>
        <div class="border rounded mt-3 mb-3">
          <div class="font-weight-bold bg-info text-white rounded p-2">
            Attempt #1 - Email, Decemeber 19th, 2019
          </div>
          <div class="p-3">
            <p>
              <span class="font-weight-bold">Subject</span>: Request For Comments - 5-22-19 Board Meeting - PSERS Impact on Deficit
            </p>
            <p>
              <span class="font-weight-bold">Recipients</span>:
            </p>
            <ul>
              <li>David Bartholf - Board Treasurer and Finance Committee member</li>
              <li>Ruth Anne Baiocco - Board President and Fianance Committee member</li>
              <li>Frank Sill - Board Vice President</li>
            </ul>
            <p>
              <span class="font-weight-bold">Synopsis</span>: Asked for explanation on why Mr Bartholf would make such misleading statements. Asked
              Baiocco why she did not show some level of integrity and issue some sort of correction
              to his statements.
            </p>
            <p>
              <span class="font-weight-bold">Response</span>: No Response
            </p>
          </div>
        </div>
      </section>
      <footer>
        <p>
          This site was founded by Joe Cooper, an Upper Chichester tax-payer.
          <i>Note: This site is not affiliated with Chichester School District or any government organization.</i>
        </p>
      </footer>
    </article>
  </main>
</div>
