<div class="row">
  <main class="col-s col-md-10 col-lg-8">
    <article class="ml-3 mr-3">
      <section class="section-introduction">
        <div class="pt-3 bg-light">
          <h2>The Chichester School Board PSERS Narrative</h2>
          <div class="pl-sm-2 pl-md-5 pr-sm-2 pr-md-5 article-image-container">
            <div>
              <img class="rounded article-image"
                   [appLightboxImage]="'https://cdn.chichesterschoolwatch.com/articles/psers-narrative/bartholf-misleads-taxpayers-on-defict-captioned.png'"
                   [appLightboxImageCaption]="'Thanks to generous increases in state reimbursements, Chichester\'s
          share of pension costs have decreased 2 years in a row. This stands in stark contrast to the narratives pushed by the board.'"
                   src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/bartholf-misleads-taxpayers-on-defict-captioned.png" />
            </div>
          </div> 
          <h3 class="mt-3">Part 2: (Videos) Bartholf Uses PSERS as Scapegoat for Deficit</h3>
          <p>
            <i>By Joe Cooper <time> Feb 8th, 2020</time></i>
          </p>
        </div>
        <p>
          <i>
            In this multi-part series, I’ll cover the actual impact of pensions (PSERS) on
            Chichester School District finances as well as the narratives and tactics that
            are being employed to pin blame on PSERS and divert accountability for district
            spending increases and budget deficits away from the Chichester School Board of Directors.
          </i>
        </p>
        <h5>Part 2 - Topics Covered</h5> 
        <ol>
          <li>Video - Bartholf Misleading Taxpayers at 5-22-19 Board Meeting</li>
          <li>Bartholf's Narrative vs Reality</li>
          <li>Fruitless attempts for an explanation from the board</li>
          <li>Video - Board Members laugh at attempt for accountability</li> 
        </ol>
      </section>
    <section class="section-psers-video-intro">
      <h5>Bartholf Misleads Taxpayers at 5-22-19 Board Meeting</h5>
      <p>
        Last year, Chichester School District's preliminary budget featured a $2 million deficit (which ultimately grew into
        a $3.47 million deficit in the final budget). At the 5-22-19 Chichester School Board Meeting, I asked the school board
        the following question about the preliminary budget deficit:<br />
        <q class="font-weight-bold">How do we plan to resolve the 2 million dollar deficit?</q>
      </p>
      <p>
        Region 1 board member David Bartholf responded, seizing the opportunity to push the PSERS
        narrative. In a convincing speech, he went to great lengths to suggest that increasing
        pension costs (PSERS) were responsible for the deficit. I have to admit, he did a great job at selling
        his narrative. With his respectable roles as Board Treasurer and Finance Committee member,
        combined with his authoritative delivery, who wouldn't believe him?
      </p>
      <p>
        Have a look at the video below. What you should know is that
        <span class="font-weight-bold">pensions (PSERS) had absolutely nothing to do with the deficit</span>.
        In fact, Chichester's share of pensions (PSERS) decreased for the second year in a row.
        I cover the actual impact of PSERS on Chichester SD finances extensively and show you how to verify the data yourself in part 1 of this series -
        <a href="https://www.chichesterschoolwatch.com/blog/2020/2/6/psers-narrative-part-1-actual-impact">Part 1: The Actual Impact of PSERS on Chichester SD</a>.
      </p>
      <div class="bg-light">
        <p class="font-weight-bold">Board Questioned - How do we plan to resolve the 2 million dollar deficit?</p>
        <div class="videoWrapper">
          <iframe width="560" height="349" src="https://www.youtube.com/embed/sj7jhecIuhk"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <p class="mt-2">
          <i>
            This segment is taken from the full video of the 5-22-19 board meeting hosted on the district's site. Frank Sill (in maroon) is the older
            gentleman who first responds to the question (albeit not the actual question asked). Mr Bartholf (in blue) delivers his compelling PSERS
            narrative starting at 0:35. Board President, Ruth Anne Baiocco (center) idly stands by and does nothing to stop Mr Bartholf
            from pushing his narrative onto unsuspecting taxpayers.
          </i> 
        </p> 

      </div>
    </section> 
      <section class="section-psers-video-analysis">
        <h5>Bartholf's Narrative vs Reality</h5>
        <div class="font-weight-bold bg-info text-white rounded p-2">
          Contender #1: Bartholf's Narrative
        </div>
        <i>Bartholf has to build his case for why money would be used from a PSERS fund
          to cover the deficit. Here are his talking points.</i>
        <ul>
          <li>How the PSERS contribution rate goes up every year.</li>
          <li>How the rate is currently around 33%.</li>
          <li>How they don't have anything built in to the budget to handle rate increases.</li>
          <li>
            How the board has planned for these increases with a genius
            10-year plan where a bunch of tax-payer money has been stashed away in a PSERS
            fund to help ease the burden of future PSERS rate increases.
          </li>
        </ul>

        <div class="font-weight-bold bg-info text-white rounded p-2">
          Contender #2: Reality
        </div>
        <i>Bartholf conveniently leaves out some important details. Most importantly,
          he forgets to mention that PSERS has nothing to do with the deficit.</i>
        <ul>
          <li>
            Remember the question asked is 'How does the board plan to resolve the 2 million dollar deficit?'.
            He neglects to mention how Chichester's share of PSERS has decreased two years in a row and
            has absolutely nothing to do with the deficit.
            See here: <a href="https://www.chichesterschoolwatch.com/blog/2020/2/6/psers-narrative-part-1-actual-impact">Part 1: The Actual Impact of PSERS on Chichester SD</a>.
          </li>
          <li>He mentions increasing contribution rates, but he neglects to mention anything
            about state reimbursement money for PSERS, the fact that this state money covers
            more than half the pensions cost, and have also been increasing every year. (see graph below).</li> 
          <li>
            He boasts about the boards '10-Year Plan', but neglects to mention how they planned once-again to funnel money through
            a fund named after PSERS to cover a deficit having nothing to do with PSERS. This time they planned
            to funnel 2 million dollars through said fund.
          </li>
        </ul>
        <p class="bg-light">
          <span class="d-block font-italic">Chichester's share goes down (red), State's share goes up (blue)</span>
          <img class="rounded article-image"
               [appLightboxImage]="'https://cdn.chichesterschoolwatch.com/articles/psers-narrative/chart-psers-state-vs-chihcester-share.png'"
               [appLightboxImageCaption]="'Thanks to generous increases in state reimbursements, Chichester\'s
          share of pension costs have decreased 2 years in a row. This stands in stark contrast to the narratives pushed by the board.'"
               src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/chart-psers-state-vs-chihcester-share.png" />

        </p>
      </section>
      <section>
        <h5>Fruitless Attempts To Get Explanation From The Board</h5>
        <div class="border rounded mt-3 mb-3">
          <div class="font-weight-bold bg-info text-white rounded p-2">
            Attempt #3 - Jan 21, 2020 Board Meeting - Citizen Comment
          </div>
          <div class="p-3">
            <p>
              <span class="font-weight-bold">Synopsis</span>: Covered several topics,
              including inaccurate PSERS numbers published in local papers, Bartholf's statements
              at the 5-22-19 board meeting, and the clever use of the PSERS fund to cover deficits.
            </p>
            <span class="font-weight-bold">Response</span>:
            <p class="ml-3">
              <span class="font-weight-bold">Board President Baiocco</span>: Snickered in amusement at the thought that a taxpayer would
              expect the board president and only other finance committee member to put
              taxpayers before her politics, shown some integrity,
              and issued some sort of correction to Bartholf's statements.
            </p>
            <p class="ml-3">
              <span class="font-weight-bold">Board Member Montella</span>: Showcasing herself as Chichester's very own Nancy Pelosi,
              our dignified representative from Marcus Hook groomed her hair and made a snarky comment. Relatively tame compared to the time
              she vindictively posted a picture on the Upper Chichester Township facebook group of a creepy candid
              pic of me and my 3 year old daughter out in public that was taken from a car window. 
            </p>
          </div>
        </div>
        <div class="border rounded mt-3 mb-3">
          <div class="font-weight-bold bg-info text-white rounded p-2">
            Attempt #2 - Email, January 11th, 2020
          </div>
          <div class="p-3"> 
            <p>
              <span class="font-weight-bold">Subject</span>: Fwd: Request For Comments - 5-22-19 Board Meeting - PSERS Impact on Deficit
            </p>
            <p>
              <span class="font-weight-bold">Recipients</span>: All Board Members
            </p>
            <p>
              <span class="font-weight-bold">Synopsis</span>: Forwarded previous email and
              extended all board members to comment.
            </p>
            <p>
              <span class="font-weight-bold">Response</span>: No Response
            </p>
          </div>
        </div>
        <div class="border rounded mt-3 mb-3">
          <div class="font-weight-bold bg-info text-white rounded p-2">
            Attempt #1 - Email, Decemeber 19th, 2019
          </div>
          <div class="p-3">
            <p>
              <span class="font-weight-bold">Subject</span>: Request For Comments - 5-22-19 Board Meeting - PSERS Impact on Deficit
            </p>
            <p>
              <span class="font-weight-bold">Recipients</span>:
            </p>
            <ul>
              <li>David Bartholf - Board Treasurer and Finance Committee member</li>
              <li>Ruth Anne Baiocco - Board President and Fianance Committee member</li>
              <li>Frank Sill - Board Vice President</li>
            </ul>
            <p>
              <span class="font-weight-bold">Synopsis</span>: Asked for explanation on why Mr Bartholf would make such misleading statements. Asked
              Baiocco why she did not show some level of integrity and issue some sort of correction
              to his statements.
            </p>
            <p>
              <span class="font-weight-bold">Response</span>: No Response
            </p>
          </div>
        </div>
      </section>
      <footer>
        <p>
          This site was founded by Joe Cooper, an Upper Chichester tax-payer.
          <i>Note: This site is not affiliated with Chichester School District or any government organization.</i>
        </p>
      </footer>
    </article>
  </main>
</div>
