<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <img class="img-thumbnail img-responsive rounded float-right" style="max-width: 300px; max-height: 300px;" [src]="album[0].thumb"  />
    <p>
      Making comparisons on a per-student basis is the only way to compare apples-to-apples and budget deficits are no different.
      Chichester might seem somewhat on par with other districts when looking at
      <a [routerLink]='["../deficit"]'>total deficit figures</a>, but once you start
      looking at dollars-per-student, you start seeing how disproportionate Chichester's budget deficits really are.
    </p>
    <div class="mt-2">
      This year on the day of election primaries, board member David Bartholf proudly touted the 0% tax increases
      but neglected to mention this year's massive <span class="hardcoded">{{stats.chiDeficitFy1920 | thousandSuff}} </span>
      <a [routerLink]='["../deficit"]'>deficit</a>.
    </div>
  </div>
  <app-comparisons-grid
    [comparisons]="comparisons"
    [yearOfInterest]="'FY19-20'" 
    [metric]="'DeficitPerStudent'">
  </app-comparisons-grid> 
</div>
