<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <img class="img-thumbnail img-responsive rounded float-right" style="max-width: 300px; max-height: 300px;" [src]="album[0].thumb" (click)="open(0)" />
    <p>
      Making comparisons on a per-student basis is the only way to compare apples-to-apples and budget deficits are no different.
      Chichester might seem somewhat on par with other districts when looking at
      <a [routerLink]='["../deficit"]'>total deficit figures</a>, but once you start
      looking at dollars-per-student, you start seeing how disproportionate Chichester's budget deficits really are.
    </p>
    <div class="mt-2">
      This year on the day of election primaries, David Bartholf proudly touted the 0% tax increases
      but neglected to mention this year's massive <span class="hardcoded">$3,477,090 </span>
      <a [routerLink]='["../deficit"]'>deficit</a>.
    </div>
  </div>
  <table class='table table-striped table-sm'>
    <thead>
      <tr>
        <th></th>
        <th class="text-right text-nowrap" *ngFor="let key of objectKeys(comparisons.fiscalYears)">{{comparisons.fiscalYears[key]}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template let-district ngFor [ngForOf]="comparisons.districtFiscalYearMetrics">
        <tr [ngClass]="{'highlight-row' : district.district.name === 'Chichester'}">
          <td>{{district.district.name}}</td>
          <td class="text-right" *ngFor="let key of objectKeys(comparisons.fiscalYears)">
            <span>{{district.metricsByFiscalYear[key].metrics['DeficitPerStudent'] | number: '1.0-0'}}</span>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
