<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <p>
    The amount that expenditures exceed revenues on the budget. Put another way, a deficit is when the
    amount of cash going out exceeds the amount of cash coming in. Unlike tax rate increases, Chichester School
    Board members do not post these numbers on social media.
    <p *ngIf="condensed" class="d-md-none badge p-2 badge-primary badge-pill cursor-pointer" (click)="condensed = false">Click Here To Show More</p>
    <div [ngClass]="{'d-none': condensed}" class="d-md-block">

      <p>
        By silently amassing a {{stats.chiDeficitFy1920 | thousandSuff}} deficit
        this year, the Chichester School Board was able to keep tax rate increases at 0% this year. 
      </p>
      <p> 
        At the 5-22-19 regular board meeting, Frank Sill 'cautioned' against suggesting the
        board was doing something 'irregular' in regards to the then 2 million dollar
        deficit in the preliminary budget. Between the total deficit and the
        <a [routerLink]='["../deficit-per-student"]'>deficit-per-student</a> you be the judge
        in determining if there is anything 'irregular'
        about this this election years 3.47 million dollar deficit.
      </p>
      <p>
        Suggestion: to get a better picture of the significance of these deficit numbers, I recommend looking at
        deficit on a <a [routerLink]='["../deficit-per-student"]'>per-student basis</a>.
      </p> 
    </div> 
    <app-comparisons-grid [comparisons]="comparisons"
                          [yearOfInterest]="'FY19-20'"
                          [metric]="'Deficit'">
    </app-comparisons-grid>
  </div>
</div>
