<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    
    <p>
      The amount that expenditures exceed revenues on the budget. Put another way, a deficit is when the
      amount of cash going out exceeds the amount of cash coming in. Unlike tax rate increases, Chichester School
      Board members do not post these numbers on social media. By silently amassing a {{stats.chiDeficitFy1920 | thousandSuff}} deficit
      this year, the Chichester School Board was able to keep tax rate increases at 0% this year.
    </p>
    <div class="mb-2">
      Suggestion: to get a better picture of the significance of these deficit numbers, I recommend looking at
      deficit on a <a [routerLink]='["../deficit-per-student"]'>per-student basis</a>.
    </div>
  </div>
  <app-comparisons-grid
    [comparisons]="comparisons"
    [yearOfInterest]="'FY19-20'" 
    [metric]="'Deficit'">
  </app-comparisons-grid>
</div>
