<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <p> 
      These numbers show how excessive Chichester's spending is, relative to all the
      other districts in Delaware county.
    </p>
    <div class="mt-2"> 
      <pre>
Cost-Per-Student Difference = Chichester - {{currentDistrict.district.name}}
{{currentMetric.calculationValues.differenceCostPerStudent | number}} = {{currentMetric.calculationValues.chichesterCostPerStudent | number}} - {{currentMetric.calculationValues.districtCostPerStudent |number}}
      </pre>
    </div>  
  </div>
  <table class='table table-striped table-sm'>
    <thead>
    <tr>
      <th></th>
      <th class="text-right text-nowrap" *ngFor="let key of objectKeys(comparisons.fiscalYears)">{{comparisons.fiscalYears[key]}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-template let-district ngFor [ngForOf]="comparisons.districtFiscalYearMetrics">
      <tr [ngClass]="{'highlight-row' : district.district.name === 'Chichester'}">
        <td>{{district.district.name}}</td>
        <td class="text-right" *ngFor="let key of objectKeys(comparisons.fiscalYears)" (click)="setCurrent(district, district.metricsByFiscalYear[key].metrics['ExcessChichesterSpending'])">"">
          <span>{{district.metricsByFiscalYear[key].metrics['ExcessChichesterSpending'].value | number: '1.0-0'}}</span>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
