<div class="p-3 ">
  <h5 class="bg-info text-white p-3 rounded">
    Stay Tuned for the Completion of this Tutorial!
  </h5>
  <p>
    Unfortunately we have not had time to finish this tutorial, so be sure to check back later. 
    In the meantime, check out our extensive set of district comparisons and other Delco district budget data.
  </p>
  These are a good starting places:
  <ul>
    <li>
      <a [routerLink]='["/budgets/comparisons/cost-per-student"]'>Cost-Per-Student</a>
    </li>
    <li>
      Our $3.47 million dollar <a [routerLink]='["/budgets/comparisons/deficit"]'>deficit</a>.
    </li>
    <li>
      Our DECREASING <a [routerLink]='["/budgets/comparisons/psers-net-contribution-increase"]'>Pension Fund</a> contributions.
    </li>
    <li>
      <a [routerLink]='["/budgets/revenues"]'>Revenues</a>
    </li>
    <li>
      <a [routerLink]='["/budgets/expenditures"]'>Expenditures</a>
    </li>
  </ul>
</div> 
