<div class="container-fluid">
  <div *ngIf="isBusy" style="position: relative">
    <div class="modal2">
      <div class="center">
        <img src="/assets/spinner.gif" />
        Loading...
      </div>
    </div>
  </div>

  <div *ngIf="!isBusy" class="row-fluid">
    <div ngbDropdown class="d-inline-block" *ngFor="let optionGroup of optionGroups">
      <button class="btn btn-outline-primary" [ngClass]="{'active': optionGroup.isActive}" id="dropdown-{{optionGroup.group}}" ngbDropdownToggle>{{optionGroup.group}}</button>
      <div ngbDropdownMenu [attr.aria-labelledby]="'dropdown-' + optionGroup.group">
        <a class="nav-link"
           ngbDropdownItem
           *ngFor="let option of optionGroup.groupOptions"
           [routerLink]='["../" + option.canonicalUrl]'
           [ngClass]="{'active': option.isActive}" >
          {{option.displayName}}
        </a>
      </div>
    </div>

  </div>
  <div *ngIf="!isBusy" class="row-fluid mt-3" [ngSwitch]="selectedOption.name">
    <h4>Comparisons - {{selectedOption.displayName}}</h4>
    <app-cost-per-student *ngSwitchCase="'TotalCostPerStudent'"></app-cost-per-student>
    <app-deficit *ngSwitchCase="'Deficit'"></app-deficit>
    <app-deficit-per-student *ngSwitchCase="'DeficitPerStudent'"></app-deficit-per-student>
    <app-excess-chichester-spending *ngSwitchCase="'ExcessChichesterSpending'"></app-excess-chichester-spending>


    <table *ngSwitchDefault class='table table-striped table-sm'>
      <thead>
        <tr>
          <th></th>
          <th class="text-right text-nowrap" *ngFor="let key of objectKeys(comparisions.fiscalYears)">{{comparisions.fiscalYears[key]}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-template let-district ngFor [ngForOf]="comparisions.districtFiscalYearMetrics">
          <tr [ngClass]="{'highlight-row' : district.district.name === 'Chichester'}">
            <td>{{district.district.name}}</td>
            <td class="text-right" *ngFor="let key of objectKeys(comparisions.fiscalYears)">
              <span *ngIf="selectedOption.format === 'percent'">{{district.metricsByFiscalYear[key].metrics[selectedOption.name] | percent: '1.1-1'}}</span>
              <span *ngIf="selectedOption.format === 'number'">{{district.metricsByFiscalYear[key].metrics[selectedOption.name] | number: '1.0-0'}}</span>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>

  </div>
</div>
