<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore processPath="dotnet" 
                arguments=".\ChichesterSchoolWatch.WebUI.dll" 
                stdoutLogEnabled="true" 
                stdoutLogFile="C:\Web\logs\aspcore.stdout.log" 
                hostingModel="InProcess"
                xdt:Transform="Replace" > 
    </aspNetCore>
  </system.webServer>
</configuration>