<div class="row">
  <main class="col-s col-md-10 col-lg-8">
    <article class="ml-3 mr-3">
      <section class="section-introduction">
        <div class="pt-3 bg-light">
          <h2>The Chichester School Board PSERS Narrative</h2>
          <div class="pl-sm-2 pl-md-5 pr-sm-2 pr-md-5 article-image-container">
            <div>
              <img class="rounded article-image"
                   [appLightboxImage]="'https://cdn.chichesterschoolwatch.com/articles/psers-narrative/bartholf-misleads-taxpayers-on-defict.png'"
                   [appLightboxImageCaption]="'Thanks to generous increases in state reimbursements, Chichester\'s
          share of pension costs have decreased 2 years in a row. This stands in stark contrast to the narratives pushed by the board.'"
                   src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/bartholf-misleads-taxpayers-on-defict.png" />
            </div>
          </div>
          <h3 class="mt-3">Part 3: Local Press Reporting Inaccurate PSERS Figures</h3>
          <p>
            <i>By Joe Cooper <time> Feb 11th, 2020</time></i>
          </p>
        </div>
        <p>
          <i>
            In this multi-part series, I’ll cover the actual impact of pensions (PSERS) on
            Chichester School District finances as well as the narratives and tactics that
            are being employed to pin blame on PSERS and divert accountability for district
            spending increases and budget deficits away from the Chichester School Board of Directors.
          </i>
        </p>
        <h5>Part 2 - Topics Covered</h5>
        <ul>
          <li>Video - Bartholf Uses PSERS As Scapegoat for $2 Million Deficit</li>
          <li>Video Analysis: Bartholf's Narrative vs Reality</li>
          <li>The many fruitless attempts to seek explanation from the board</li>
          <li>Video - Board members find it comical for a taxpayer to challenge their PSERS Narrative</li>
        </ul>
      </section>
      <section class="section-psers-video-intro">
      
        <p>
          Region 1 board member David Bartholf seized the opportunity to push his PSERS
          narrative. In a convincing speech, he went to great lengths to suggest that increasing
          pension costs (PSERS) were responsible for the deficit. I have to admit, he did a great job at selling
          his narrative. With his respectable roles as Board Treasurer and Finance Committee member,
          combined with his authoritative delivery, who wouldn't believe him?
        </p>
        <p>
          Have a look at the video below. What you should know is that
          <span class="font-weight-bold">pensions (PSERS) had absolutely nothing to do with the deficit</span>.
          In fact, Chichester's share of pensions (PSERS) decreased for the second year in a row.
          I cover the actual impact of PSERS on Chichester SD finances extensively and show you how to verify the data yourself in part 1 of this series -
          <a href="https://www.chichesterschoolwatch.com/blog/2020/2/6/psers-narrative-part-1-actual-impact">Part 1: The Actual Impact of PSERS on Chichester SD</a>.
        </p>
        <div class="bg-light">
          <p class="font-weight-bold">Board Questioned - How do we plan to resolve the 2 million dollar deficit?</p>
          <div class="videoWrapper">
            <iframe width="560" height="349" src="https://www.youtube.com/embed/sj7jhecIuhk"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <p class="mt-2">
            <i>
              This segment is taken from the full video of the 5-22-19 board meeting hosted on the district's site. Frank Sill (in maroon) is the older
              gentleman who first responds to the question (albeit not the actual question asked). Mr Bartholf (in blue) delivers his compelling PSERS
              narrative starting at 0:35. Board President, Ruth Anne Baiocco (center) idly stands by and does nothing to stop Mr Bartholf
              from pushing his narrative onto unsuspecting taxpayers.
            </i>
          </p>

        </div>
      </section> 
      <footer>
        <p>
          This site was founded by Joe Cooper, an Upper Chichester tax-payer.
          <i>Note: This site is not affiliated with Chichester School District or any government organization.</i>
        </p>
      </footer>
    </article>
  </main>
</div>
