<p>
  Budgets
</p>
<ul class="navbar-nav flex-grow">
  <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a class="nav-link text-dark" [routerLink]='["comparisons/cost-per-student"]'>Comparisons</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a class="nav-link text-dark" [routerLink]='["expenditures"]'>Expenditures</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a class="nav-link text-dark" [routerLink]='["revenues"]'>Revenues</a>
  </li> 
</ul>
