<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <p>
      Cost Per Student - I propose this as the best metric on which to compare the cost-effectiveness of
      one district versus another. Simply put, how many dollars does it take to educate each child.
      You will note, that Chichester is far ahead of the pack. You'll notice that even our spending 4
      years ago was more than what districts are currently spending (except for GV, a much, much
      <a href="https://www.bizjournals.com/philadelphia/news/2019/08/30/how-wealthy-are-southeastern-pennsylvania-school.html?fbclid=IwAR2Fj9gnnLWh6wGmjayW8KvfjLdPk9uuxzlD6W-iDa6wk7VfQX6H-sT6ro0#g/458769/53" target="_blank">wealthier district</a>).
    </p>
    <p>
      If the community has any interest in putting an end to our excessive taxes, I suggest
      cost-per-student as the number everyone focuses on. Other metrics are just too easily manipulated through
      smoke and mirrors (such as tax rate increases.)
    </p>
  </div>
  <!--<div class="comparison-blurb">
    Transparency Status: Here we measure how well the board shares this information with tax payers. 
      <div>Publishes on District Site: No</div>
      <div>Shares information on social media: No</div>
      <div>Discloses information during budget announcements: No</div>
  </div>-->
    <table class='table table-striped table-sm'>
      <thead>
        <tr>
          <th></th>
          <th class="text-right text-nowrap" *ngFor="let key of objectKeys(comparisons.fiscalYears)">{{comparisons.fiscalYears[key]}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-template let-district ngFor [ngForOf]="comparisons.districtFiscalYearMetrics">
          <tr [ngClass]="{'highlight-row' : district.district.name === 'Chichester'}">
            <td>{{district.district.name}}</td>
            <td class="text-right" *ngFor="let key of objectKeys(comparisons.fiscalYears)">
              <span>{{district.metricsByFiscalYear[key].metrics['TotalCostPerStudent'] | number: '1.0-0'}}</span>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
</div>
