<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <p>
      The amount of money a district spends on each student. Likely the best metric on which to compare
      the cost-effectiveness of one district versus another. Why so? Unlike tax rates, this number is
      not influenced by factors such as property values, deficits, increases in property assesments, etc. 
    </p>
    <p *ngIf="condensed" class="d-md-none badge p-2 badge-primary badge-pill cursor-pointer" (click)="condensed = false">Click Here To Show More</p>
    <div [ngClass]="{'d-none': condensed}" class="d-md-block">
      <p>
        Unfortunately, Chichester is far ahead of the pack, spending upwards of 5k+ more per student.
        Even Chichester's cost-per-student rate 4 years ago exceeds what other Delco districts spend today.
        (well, except for GV, a much, much
        <a href="https://www.bizjournals.com/philadelphia/news/2019/08/30/how-wealthy-are-southeastern-pennsylvania-school.html?fbclid=IwAR2Fj9gnnLWh6wGmjayW8KvfjLdPk9uuxzlD6W-iDa6wk7VfQX6H-sT6ro0#g/458769/53"
           target="_blank">wealthier district</a>).
      </p>
      <p>
        Here's a <a target="_blank"
                    href="https://www.psba.org/report/budgets-annual-study-public-school/a-study-of-pennsylvania-public-school-budgets-2017-18/">
          PSBA
          publication
        </a>
        for the 2017-2018 fiscal year that provides a state-wide view. While other Delaware county districts
        conform to the state average, Chichester is out in it's own league.
      </p>
      <p>
        If the community has any interest in putting an end to our excessive taxes, I suggest
        cost-per-student as the number everyone focuses on. Tax rates (millage) and rate increase %, the preferred metrics of the
        school board, are far too easily manipulated through smoke and mirror tactics (such as using a deficit to attain
        a 0% tax rate increase on election year).
      </p>
    </div>
  </div> 
  <app-comparisons-grid [comparisons]="comparisons"
                        [yearOfInterest]="'FY19-20'" 
                        [metric]="'TotalCostPerStudent'"></app-comparisons-grid>
</div>
