<?xml version="1.0" ?>
<!-- NLog logging configuration. -->
<nlog throwExceptions="true"
      autoReload="true"
      internalLogFile="C:\SocketLabs\Logs\nlog-internal.txt"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- These are used to simplify layout definitions. -->
  <variable name="paddedLevel" value="${pad:padCharacter= :padding=5:fixedLength=true:inner=${uppercase:${level}}}" />
  <variable name="paddedLogger" value="${pad:padCharacter= :padding=20:inner=${logger:shortName=true}}" />
  <variable name="headerDetailed" value="${time} | ${paddedLevel} | ${paddedLogger} ${when:when=message!='':inner=| ${message} }" />

  <variable name="exceptions" value="   EXCEPTION TYPE\: ${exception:format=Type}${newline}   EXCEPTION MSG\: ${exception:format=Message:innerFormat=ShortType,Message:maxInnerExceptionLevel=5:separator= - }" />
  <variable name="stacktrace" value="${exception:format=StackTrace:innerFormat=StackTrace:maxInnerExceptionLevel=5}" />

  <variable name="defaultLayout" value="${headerDetailed}${onexception:${newline}${exceptions}}" />
  <variable name="defaultWithStack" value="${headerDetailed}${onexception:${newline}${exceptions}${newline}${stacktrace}}" />

  <targets async="true">
    <target name="logfile"
            xsi:type="File"
            fileName="SitePinger.log"
            layout="${defaultWithStack}"
            archiveFileName="${shortdate}.SitePinger.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"  /> 
    <target name="debugger" xsi:type="Debugger" layout="${defaultWithStack}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>