<div class="row">
  <main class="col-s col-md-10 col-lg-8">
    <article> 
      <div> 
        <h5 class="border-info border-bottom">
          Letter To Chichester School District School Board Directors
        </h5>

        <address class="pb-3">
          <div>Chichester School Board Directors</div>
          <div>Chichester School District</div>
          <div>401 Cherry Tree Rd</div>
          <div>Aston, PA 19014</div>
        </address>

        <time>
          November 17, 2019
        </time>

        <address class="pb-3">
          <div>Joe Cooper</div>
          <div>www.chichesterschoolwatch.com</div>
        </address>

        <h5>
          RE: Concerns Regarding Accuracy of PSERS Contribution Impact Reported To Public
        </h5> 

        <p>
          Dear Chichester School Board Directors,
        </p>

        <p>
          While we can all agree that on their own, PSERS contribution rates are unreasonably high by any measure,
          we can also agree state funding districts receive for PSERS greatly alleviates
          a large portion of that burden. Chichester School District's FY19-20 budget shows that the commonwealth
          contributed $6,237,559 towards PSERS contributions up from $5,489,077 the year prior.
        </p>
        <p>
          Based on my calculations, Chichester School District's net contribution
          into PSERS has decreased the last two years. By ‘net contribution’, I mean the amount of
          money Chichester School District is obligated to pay into PSERS after state funding is taken into account.
        </p>
        <p>
          As a concerned taxpayer residing in Chichester School District, I want to make sure the people in my community
          are given accurate information on Chichester School District budgets, especially the impact PSERS contributions
          has had on these budgets.
        </p>
        <app-psers-contributions-breakdown [district]="'Chichester'"></app-psers-contributions-breakdown>
        <app-deficit-comparison-chart [district]="'Chichester'"></app-deficit-comparison-chart>
        <p>
          I respectfully request that you address the following two concerns I have:
        </p>

        <p class="font-weight-bold border-info border-bottom">Concern #1 - Accuracy of Information Reported to Local News Outlets</p>
        <p>Example A) Inaccurate Statements Made to DelcoTimes Reagarding PSERS Impact on FY2019-2020 Budget</p>
        <p>

          If my calculations are accurate, and Chichester School District has indeed realized two years of
          decreases in it's net PSERS contributions, then the following excerpt from DelcoTimes article
          citing a statement from Chichester's Business Office Manager is deeply troubling to me. I respectfully request an explanation
          as to why Chichester's Business Office Manager, under the governance of the Chichester School Board of Directors,
          would issue an inaccurate statement that clearly states we faced a $600k increase when we actually realized
          a net decrease.
        </p>
        <p class="bg-light">
          <cite>
            "Business manager Anthony Testa said that salary and benefit costs represent 70 percent of the total budget,
            adding the Pennsylvania State Employees Retirement System (PSERS) pension costs, after state reimbursement,
            totals $5.4.million; an increase of about $600,000 over the 2018-2019 budget."
          </cite>
        </p>
        <p class="font-weight-bold border-info border-bottom">Concern #2 - Accuracy of Information Conveyed by Chichester School Board Directors.</p>
        <p class="bg-light">
          <cite>
            "The use of $770,000 was used to balance the budget due to contributions
            to the state pension fund (PSERS), which continues to increase to a contribution rate of 33 percent
            for school districts. PSERS, salaries and charter school tuition continue to be budget cost drivers."
          </cite>
        </p>
        <p class="font-weight-bold border-info border-bottom">
          Assumptions
        </p>
        <ul>
          <li>
            Since code 100 expenditures are classified as ‘Salaries’, all code 100 expenditures are subject to PSERS contributions.
          </li>
          <li>
            Only code 100 expenditures are subject to PSERS contribution rates.
          </li>
          <li>
            Revenue code 7820 'State Share of Retirement Contributions' represents the state’s contribution to PSERS.
          </li>
          <li>
            This document hosted by psers.pa.gov can be considered the definitive source on
            PSERS contribution rates: <a href="https://www.psers.pa.gov/About/PFR/Documents/20181207%20FY%202019-2020%20ECR%20fact%20sheet%20FINAL.pdf">Fiscal Year 2019/2020 Employer Contribution Rate</a>.
          </li>
          <li>
            ‘Total Employer Contribution Rate’ is the rate used to determine Chichesters net PSERS Contribution amount.
          </li>
        </ul>

        <p>
          Respectfully Yours,
        </p>
        <p>
          Joe Cooper
        </p>

        <p>
          This site was founded by Joe Cooper, an Upper Chichester tax-payer.
          <i>Note: This site is not affiliated with Chichester School District or any government organization.</i>
        </p>
      </div>
    </article>
  </main>
</div>
