
<div>
  <app-busy-indicator [isBusy]="isBusy"></app-busy-indicator>
</div>

<div class="p-3 ">
  <h5 class="bg-info text-white p-3 rounded">
    Excessive Cost-Per-Student
  </h5>
  <div class="list-group">
    <div class="list-group-item ">
      <span class="badge-pill badge-info center">1</span>How Chichester is
      spending  <a [routerLink]='["/budgets/comparisons/cost-per-student"]'>4-5k more per student</a>.

      As you'll see in the chart below, Chichester SD leads the
      pack in costs-per-student by more than $5,000 per student in the case of PennDelco.
      Chichester is even out-spending Garnet Valley, the
      <a _ngcontent-c9="" href="https://www.bizjournals.com/philadelphia/news/2019/08/30/how-wealthy-are-southeastern-pennsylvania-school.html?fbclid=IwAR2Fj9gnnLWh6wGmjayW8KvfjLdPk9uuxzlD6W-iDa6wk7VfQX6H-sT6ro0#g/458769/53" target="_blank">12th wealthiest district</a>
      in the four-county southeastern pa region.
    </div>
  </div>
</div>
<div class="p-3" *ngIf="!isBusy" style="overflow: hidden; margin-bottom: 50px;">
  <div class="chart-container">
    <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div> 
