<div class="p-3">
  <div class="mb-3">
    If you don't have a good handle on Chichester's School budgets,
    then this is a good starting point. This site offers a lot of Delco school district
    data and interpretation of that data. It can be a bit overwhelming to
    navigate through it
    <p *ngIf="condensed" class="d-md-none badge p-2 mt-2 mb-0 badge-primary badge-pill cursor-pointer" (click)="condensed = false">Click Here To Show More</p>
    <span [ngClass]="{'d-none': condensed}" class="d-md-inline">
       on your own and piece everything together. This guide
      is intended to ease the burden on you, and walk you through the Chichester SD
      Tax story.
    </span> 
  </div>
  <p class="d-md-block" [ngClass]="{'d-none': condensed}">
    Or perhaps you are feeling bold and want to jump right into the data.
    We have over 20 metrics under Budgets -> Comparisons on which to compare Delco Districts on.
    <a target="_blank" [routerLink]='["/budgets/comparisons/cost-per-student"]'>Cost-Per-Student</a> is a great
    place to start. Or perhaps you want to peruse the
    <a target="_blank" [routerLink]='["/budgets/revenues"]'>budget revenue</a> or
    <a target="_blank" [routerLink]='["/budgets/expenditures"]'>budget expenditure</a> data we have painstakingly
    collected from 30 pdf PDE 2028 budgets.
  </p>
  <div>
    <h5 class="bg-info text-white p-3 rounded">
      Why Should You Care About Chichester SD Taxes?
    </h5>
    <div class="text-info pl-3 pr-3 mb-2 display">
      Do you know any of the following?
    </div>
    <div class="list-group">
      <div class="list-group-item ">
        <span class="badge-pill badge-info center">1</span>Chichester spends
        <a [routerLink]='["/budgets/comparisons/cost-per-student"]'> $4-5k more</a> per-student
        than other comparable Delco School Districts.
      </div>
      <div class="list-group-item ">
        <span class="badge-pill badge-info center">2</span>Chichester would cut
        <a [routerLink]='["/budgets/comparisons/excess-chichester-spending"]'>$12-17 million</a> dollars
        in expenditures if it simply kept costs in line  with other Delco school districts and schools across PA.
      </div>
      <div class="list-group-item ">
        <span class="badge-pill badge-info center">3</span>If those $12-17 million dollars were cut
        from Chichester's $45 million in local tax revenue, tax-payers would see a 25%-37% reduction
        in property taxes.
      </div>
      <div class="list-group-item font-weight-bolder">
        <span class="badge-pill badge-info center">4</span>For a home assessed at $165,000,
        a 25%-35% reduction in school property tax  would reduce a home owners $6500 school tax bill
        between $1,600 and $2,400.
      </div>
      <div class="list-group-item ">
        <span class="badge-pill badge-info center">5</span>Chichester spends $955 more
        per-student than our much wealthier neighbor district Garnet Valley.
      </div>
      <div class="list-group-item ">
        <span class="badge-pill badge-info center">6</span>Chichester
        put a <a [routerLink]='["/budgets/comparisons/deficit"]'>3.47 million dollar deficit</a>
        on the books this year.
      </div>
      <div class="list-group-item ">
        <span class="badge-pill badge-info center">7</span>Chichester
        did not raise taxes this year. This is a joke. Of course you
        <a [routerLink]='["/budgets/comparisons/tax-rate-increase"]'>heard about the 0% increase</a>.
      </div>
    </div>
  </div>

</div>
