
<div class="p-3 ">
  <h5 class="bg-info text-white p-3 rounded">
    Excessive Cost-Per-Student
  </h5>
  <div class="text-info pl-3 pr-3 mb-2 display">
    You're not crazy. We spend 4-5k more per-student then other districts. That's
    why your school taxes <i>are</i> too high.
  </div>
  <div class="list-group">
    <div class="list-group-item ">
      <span class="badge-pill badge-info center">1</span>How Chichester is spending 4-5k more per student
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-info center">2</span>How much excess spending that adds to the budget
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-info center">3</span>How Chichester Homeowners are paying 1-2k more per year in taxes than they should
    </div>
  </div>
</div>

<div class="p-3 ">
  <h5 class="bg-secondary text-white p-3 rounded">
    General Info On School Taxes
  </h5>
  <div class="text-secondary pl-3 pr-3 mb-2 display">
    Not everybody understands every thing about school taxes. That's ok.
  </div>
  <div class="list-group">
    <div class="list-group-item ">
      <span class="badge-pill badge-secondary center">1</span>How your property taxes are split up.
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-secondary center">2</span>How tax rates are determined.
    </div>
  </div>
</div>

<div class="p-3 ">
  <h5 class="bg-danger text-white p-3 rounded">
    Misconceptions
  </h5>
  <div class="text-danger pl-3 pr-3 mb-2 display">
    We are going to break down some common misconceptions.
  </div>
  <div class="list-group">
    <div class="list-group-item ">
      <span class="badge-pill badge-danger center">1</span>Chichester is doing great because they have the lowest tax rate increases in delaware county.
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-danger center">2</span>Taxes Part II - they don't show huge budget deficits
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-danger center">3</span>Taxes Part III - they mask new revenue from business development
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-danger center">4</span>Chichester is strained by PSERS pension contributions
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-danger center">5</span>Chichester is burdened with excessive special education funding.
    </div>
  </div>
</div>

<div class="p-3 ">
  <h5 class="bg-success text-white p-3 rounded">
    Call To Action
  </h5>
  <div class="text-success pl-3 pr-3 mb-2 display">
    How do we proceed?
  </div>
  <div class="list-group">
    <div class="list-group-item ">
      <span class="badge-pill badge-success center">1</span>Insist your board members start taking accountability.
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-success center">2</span>Insist your board members make a commitment to get costs in line with other districts.
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-success center">3</span>Insist on budget transparency.
    </div>
    <div class="list-group-item ">
      <span class="badge-pill badge-success center">4</span>Insist on integrity and ethical behavior.
    </div>
  </div>
</div>
