<div class="p-3 ">
  <h5 class="bg-info text-white p-3 rounded">
    So maybe you decide to get more involved...
  </h5>
  <div  style="max-width: 300px; max-height: 500px;" class="float-right bg-light rounded text-center p-3">

    <img
      class="img-thumbnail cursor-pointer rounded  "
      (click)="open(0)"
      [src]="album[0].thumb"/>
    <div class="bg-light font-italic">Click To Expand</div>
  </div>

  <p>
    You can try going to budget meetings, but you will only be privy to
    a small sliver of the $79 million budget. The board members have
    large binders that provide detailed information that contain very
    useful information such costs over the last several years, cost-per-student
    compared other districts, etc. 
  </p> 
  <p>
    When you ask for a copy of the same budget material the board members have, the
    administrators will have no problem. The board will say no. This is a picture
    of the school board denying my PA right-to-know request that was an attempt to
    get a copy of the information in these large binders.
  </p>
  <p>
    <i>
      Board President Ruth Anne Baiocco disputes whether I had access to this information
      that I was clearly denied access to. She asserts that I had access to the information
      here at the 12:30 mark of this 5-22-19
      board meeting <a target="_blank" href="http://www.chichestersd.org/apps/video/watch.jsp?v=10045968">video</a>.
    </i>
  </p>
</div>
