 
  <div class="row">
    <div class="col-s col-md-10 col-lg-8">
      <div class="row">
        <div class="col">
          <div class="bg-light tutorial-title p-3 rounded">
            <div class="h4">Chichester SD Tax-Payers Guide</div>
            <h5>{{steps[currentStep].display}}</h5> 
            <div class="navbar">
              <a class="btn btn-warning float-left wizard-nav" [routerLink]='["../" + prevStep]'>Back</a>
              <a class="btn btn-warning float-right wizard-nav" [routerLink]='["../" + nextStep]'>Next</a>
            </div> 
          </div> 
        </div> 
      </div>
      <div class="row">
        <div [ngSwitch]="currentStepName" class="step-container"> 
          <app-intro-welcome *ngSwitchCase="'intro-welcome'"></app-intro-welcome>
          <app-intro-topics *ngSwitchCase="'intro-topics'"></app-intro-topics>
          <app-stay-tuned *ngSwitchCase="'stay-tuned'"></app-stay-tuned>
        </div>
      </div>
    </div>
  </div>  
