<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <p>

      <a target="_blank" href="https://www.education.pa.gov/Documents/Teachers-Administrators/School%20Finances/Comptrollers%20Office/Chart%20of%20Accounts.pdf">PA Chart of Accounts</a>
      1200 SPECIAL PROGRAMS – ELEMENTARY / SECONDARY
      Activities designed primarily for students having special needs. The Special Programs
      include support classes for pre-kindergarten, kindergarten, elementary, and secondary
      students identified as exceptional. (Record expenditures to the following sub-accounts.)

    </p>
  </div>
  <app-comparisons-grid
    [comparisons]="comparisons"
    [isPercent]="true"
    [metric]="'SpecialEducation1200PercentageCost'">
  </app-comparisons-grid>
</div>
