
<div class="row">
  <div class="col-s col-md-10 col-lg-8">
    <h5 class="border-info border-bottom">
      Who are you?
    </h5>
    <p>      
      This site was founded by Joe Cooper, an Upper Chichester tax-payer.
      <i>Note: This site is not affiliated with Chichester School District or any government organization.</i>
    </p>

    <h5 class="border-info border-bottom">
      Purpose/Background
    </h5>

    <p>
      Why are taxes so high? That is the typical question of the average Chichester SD tax payer.
      This is especially true of any tax-payer that has shopped for homes in other school districts.
      Homes of similar value in the next township over, often have tax burderns a couple thousand less a year.
    </p>
    <p>
      A typical follow-up question would be 'How do we compare to other school districts'? In order for a tax-payer to
      be able to judge how well a school district is performing in terms of cost-effectiveness, one should
      compare to other schools.
    </p>
    <p>
      Unfortunately, there has not existed an easy way for tax payers to answer these simple questions.
      My hope is to lower the burden for tax payers to get this information, and arm tax payers with the
      information they need to contribute meaningfully to today's policy discussions.
    </p>

    <h5 class="border-info border-bottom">
      Purpose & Goals
    </h5>
    <ul>
      <li>
        Informing Taxpayers. Lower the burden for tax payers to get this information, and arm tax payers with the
        information they need to contribute meaningfully to today's policy discussions
      </li>
      <li>Combat Misconceptions. Break-down common misconceptions/falsehoods in circulation today.</li>
      <li>
        Fact Checking. Holding board members and policy-influencers accountable
        to the accuracy of the claims that they make.
      </li>
      <li>
        Advocating Transparency. Advocating for increased budget/cost transparency so tax-payers do not have to work tirelessly to
        obtain the same budget and cost information that the school board already has at it's fingertips.
      </li>
    </ul>

    <h5 class="border-info border-bottom">
      Sources
    </h5>
    <p>
      Data on this site is mostly based off of publicly available PDE Final 2028 Budgets and enrollment data
      obtained through PA right-to-know requests.
      Here are copies of those
      <a target="_blank" href="https://cdn.chichesterschoolwatch.com/sources/original-sources.html">sources</a>.
    </p>

    <h5 class="border-info border-bottom">
      What are fans saying?
    </h5>
    <ul>
      <li>
        "I’ve never seen you propose any solutions to these problems, since you’re running for school board, what are you going to do to fix it?"
        <span class="font-italic">- Emotional son-in-law of prominent board member. Response: Write me in, Region 1. Thanks.</span>
      </li>
      <li>
        "I just checked your website. No sources at all. This is a complete joke. Stop this. It's just pathetic."
        <span class="font-italic">
          - Fact Verifier from local area. Response: Easy there bud, <a target="_blank" href="https://cdn.chichesterschoolwatch.com/sources/original-sources.html"> here they are</a>.
        </span>
      </li>
      <li>
        "Let’s celebrate being the only school district in the county without a
        tax increase
        this year and
        see what we can do to keep it that way. Let’s not make websites to spread propaganda that only
        paints half of the picture...Nothing wrong with speaking your mind and bringing up problems for
        discussion, but when the only information that you share is negative, that makes you a close minded clown"
        <span class="font-italic">-Unwavering son-in-law and supporter of prominent board member. Response: </span>🤡
      </li>
    </ul>

  </div>
</div>
