<h2>Purpose</h2>

<p>
  Why are taxes so high? That is the typical question of the average Chichester SD tax payer.
  This is especially true of any tax-payer that has shopped for homes in other school districts.
  Homes of similar value in the next township over, often have tax burderns a couple thousand less a year.
</p>
<p> 
  A typical follow-up question would be 'How do we compare to other school districts'? In order for a tax-payer to
  be able to judge how well a school district is performing in terms of cost-effectiveness, one should
  compare to other schools. 
</p>
<p>
  Unfortunately, there has not existed an easy way for tax payers to answer these simple questions.
  My hope is to lower the burden for tax payers to get this information, and arm tax payers with the
  information they need to contribute meaningfully to today's policy discussions.
</p>

<h5>Purpose & Goals</h5>

<ul>

  <li>Informing Taxpayers. Lower the burden for tax payers to get this information, and arm tax payers with the
    information they need to contribute meaningfully to today's policy discussions</li>
  <li>Combat Misconceptions. Break-down common misconceptions/falsehoods in circulation today.</li>
  <li>Fact Checking. Holding board members and policy-influencers accountable
    to the accuracy of the claims that they make.
  </li>
  <li>Advocating Transparency. Advocating for increased budget/cost transparency so tax-payers do not have to work tirelessly to
     obtain the same budget and cost information that the school board already has at it's fingertips.</li>
</ul>
