<div class="row">
  <main class="col-s col-md-10 col-lg-8">
    <article>
      <section class="section-introduction">
        <div class="bg-light">
          <h2>The PSERS Narrative</h2>
          <img class="rounded article-image"
            src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/chart-psers-state-vs-chihcester-share.png"/>
          <h3>Part 1: The <i>Actual</i> Impact of PSERS on Chichester SD</h3>
        </div> 
        <p>
          <i>In this multi-part series, I’ll cover the actual impact of pensions (PSERS) on
            Chichester School District finances as well as the narratives and tactics that
            are being employed to pin blame on PSERS and divert accountability for district
            spending increases and budget deficits away from the Chichester School Board of Directors.</i>

        </p>
        <h5>Part 1 - Topics Covered</h5>
        <p>
          Here in Part 1, I’ll cover the following:
        </p>
        <ul>
          <li>Some general background info on PSERS</li>
          <li>How much PSERS impacts Chichester School District</li>
          <li>How to calculate PSERS net contribution costs yourself</li>
        </ul>
      </section>
      <section class="section-psers-background">
        <h5>PSERS Background</h5>
        <p>
          The Public Schools Employee’s Retirement System (PSERS) is a pension fund each
          Pennsylvania public school district must pay into. PSERS is governed by the
          <a target="_blank" href="https://www.psers.pa.gov/About/Board/Pages/default.aspx">PSERS Board of Trustees</a>,
          a state body that operates completely outside the
          jurisdiction of school districts.  Each December the Board of Trustees certifies a
          contribution rate, the rate at which all Pennsylvania public school districts
          must contribute in the upcoming fiscal year.
        </p>
        <p>
          You have probably heard of PSERS. Over the last several years it has gained a
          fair amount of coverage in the press, and for good reason. Due to what could be
          considered bad policy around the management of this pension fund stemming back
          to the early 2000’s, the pension is currently severely underfunded. As a result,
          contribution rates have sky-rocketed over the last several years in an effort to
          catch-up, with future rates projected to increase as well.
          The rates are published here:
          <a target="_blank" href="https://www.psers.pa.gov/FPP/Publications/General/Pages/Employer-Contribution-Rates.aspx">PSERS Employer Contribution Rates</a>.
        </p>
        <div style="overflow: hidden">
          <img class="rounded float-sm-none float-md-right ml-md-3" width="200"
               src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/scape-goat.png"/>
          <p>
            With all the negative press surrounding PSERS, combined with
            the difficulty the average tax payer would have in verifying the cost of PSERS on
            Chichester, PSERS has made for the perfect scapegoat for the Chichester School Board
            (at least certain members). I hope to change that by educating taxpayers. The first
            order of business is showing how to calculate the PSERS costs.
          </p> 
        </div> 
      </section>
      <section class="section-psers-total-contribution-amount">
        <h5>Total PSERS Contribution Amount*</h5>
        <p>
          The Total PSERS Contribution Amount is the entire amount the district pays into PSERS which includes
          a very, very generous helping of state money. In Chichester's case the state subsidizes more than half the cost.
          This amount is determined by the Total Contribution rate, which for fiscal year 2019-2020 is set at
          <a target="_blank" href="https://www.psers.pa.gov/FPP/Publications/General/Documents/2019%20PSERS%20Projections%20for%20the%20Website.pdf">34.29%</a>.
        </p>
        <p>
          What this means, is that each district must pay into PSERS the total sum of all district salaries
          multiplied by the rate of 34.29%. For Chichester FY2019-2020, this works out to a Total Contribution Amount
          just shy of $11 million:
          <br />
          <code>
            $10,997,833 [Total Contribution Amount] = 34.29% [PSERS Rate] x 32,073,005 [Total Salaries]
          </code>
        </p>
        <div class="bg-light p-3 rounded">
          <p>
            <strong>To Find Total Salaries For a District</strong>
          </p>
          <ol>
            <li>
              Find the Final (not Proposed) PDE Budget for the year of interest. Chichester's PDE 2028 Budgets are listed
              <a target="_blank" href="https://www.chichestersd.org/apps/pages/index.jsp?uREC_ID=300131&type=d&termREC_ID=&pREC_ID=562089">here</a>.
            </li>
            <li>
              Now, painstakingly go through the budget and add up all expenditures coded as '100 Personal Services - Salaries'.
              Here's a picture of a budget that shows you what to look for: picture
            </li>
          </ol>
        </div>

      </section>

      <section class="section-psers-net-contribution-amount mt-3">
        <h5>Net PSERS Contribution Amount - What Districts <i>Actually</i> Pay</h5>
        <p>
          If the above rates and amounts sound terrible, it’s because we haven’t covered state reimbursements.
          Fortunately, there must be some kind of commonsense at play in the commonwealth. Instead of leaving it to
          school districts and their local tax bases to absorb these high contribution rates, the state alleviates
          most of the burden through state reimbursement moneys. These are reflected in PDE 2028 budgets as
          revenue under ‘7820 State Share of Retirement Contributions’.
        </p>
        <p>
          The actual cost to the district after state money is factored in is referred to as the net PSERS contribution.
          Let’s take another look at the math for Chichester SD, where they received over 6 million (more than 50%)
          in state reimbursements for fiscal year 2019-2020:
          <br />
          <code>
            $4,760,274 [Total Contribution Amount] = 34.29% [PSERS Rate] x 32,073,005 [Total Salaries] - <strong>$6,237,559 [State Reimbursement]</strong>
          </code>
        </p>
      </section>

      <section class="section-psers-actual-impact">
        <h5>The <i>Actual</i> Impact of PSERS on Chichester SD Finances</h5>
        <p> 
          Now let's look at the actual cost impact of PSERS on Chichester SD. How much financial
          strain does PSERS impose on Chichester? Looking at the chart below, 
          you'll see things have been looking pretty good the last two years. Note
          how Chichester's actual share of the PSERS contribution (net contribution) has decreased
          for two years in a row. 
        </p> 
        <div class="bg-light">
          <img class="rounded article-image"
               src="https://cdn.chichesterschoolwatch.com/articles/psers-narrative/chart-psers-state-vs-chihcester-share.png"/>
        </div>

        <p> 
          Now let me draw your attention to the table below which spells out all the details. Note
          the data highlighted in green at the bottom. The data shows how net increases to PSERS has only
          contributed to roughly $900k or 10% of the districts $9 million in expenditure increases.
        </p>

        <figure>
          <figcaption class="pt-2 pb-2 font-weight-bold bg-light border">Chichester PSERS Breakdown Over Last 4 Years</figcaption>
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th></th>
              <th class="text-right">FY19-20</th>
              <th class="text-right">FY18-19</th>
              <th class="text-right">FY17-18</th>
              <th class="text-right">FY16-17</th>
              <th class="text-right">FY15-16</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>Total Salaries</td><td class="text-right">32,073,005</td><td class="text-right">30,983,652</td><td class="text-right">30,152,909</td><td class="text-right">29,220,069</td><td class="text-right">29,428,482</td></tr>
            <tr><td>PSERS Employer Contribution Rate</td><td class="text-right">34.29%</td><td class="text-right">33.43%</td><td class="text-right">32.57%</td><td class="text-right">30.03%</td><td class="text-right">25.84%</td></tr>
            <tr><td>Total PSERS Contribution</td><td class="text-right">10,997,833</td><td class="text-right">10,357,835</td><td class="text-right">9,820,802</td><td class="text-right">8,774,787</td><td class="text-right">7,604,320</td></tr>
            <tr><td>State Reimbursement</td><td class="text-right">6,237,559</td><td class="text-right">5,489,077</td><td class="text-right">4,840,710</td><td class="text-right">4,331,279</td><td class="text-right">3,740,415</td></tr>
            <tr><td>Chichester Net Contribution</td><td class="text-right">4,760,274</td><td class="text-right">4,868,758</td><td class="text-right">4,980,092</td><td class="text-right">4,443,508</td><td class="text-right">3,863,905</td></tr>
            <tr><td>Chichester Net Contribution Increase</td><td class="text-right">-108,483</td><td class="text-right">-111,335</td><td class="text-right">536,585</td><td class="text-right">579,603</td><td class="text-right"></td></tr>
            <tr><td>Chichester Expenditures</td><td class="text-right">79,781,141</td><td class="text-right">75,963,431</td><td class="text-right">72,880,178</td><td class="text-right">71,558,775</td><td class="text-right">70,776,116</td></tr>
            <tr><td class="bg-success text-white">4-Year Expenditure Increase</td><td class="bg-success text-white text-right">9,005,025</td><td class="text-right"></td><td class="text-right"></td><td class="text-right"></td><td class="text-right"></td></tr>
            <tr><td class="bg-success text-white">4-Year Chichester Contribution Increase</td><td class="bg-success text-white text-right">896,370</td><td class="text-right"></td><td class="text-right"></td><td class="text-right"></td><td class="text-right"></td></tr>
            <tr><td class="bg-success text-white">4-Year PSERS % of Expenditure Increases</td><td class="bg-success text-white text-right">10%</td><td class="text-right"></td><td class="text-right"></td></tr>
            </tbody>
          </table>
        </figure>
      </section>

      <section class="section-whats-next">
        <h5>Coming Up Next...</h5>
        <p>As noted earlier, there seems to be a politics-first strategic effort to pin blame on PSERS
          for things
          such as last years multi-million budget deficit. I'll be covering what the tactics are,
          the numerous attempts to get the board to take accountability, as well as their
          complete lack of response and/or laughter to the issues raised.</p>
      </section>
    </article>
  </main>
</div>

