/* You can add global styles to this file, and also import other style files */
body { }

.cursor-pointer {
  cursor: pointer;
}

.selectable-cell {
  cursor: pointer;
}
.selectable-cell:hover { outline: solid 3px #17a2b8 ; }

* {
  /*outline: red solid 1px;*/
}

.beta-badge {
  z-index: 2000;
  transform: rotate(-20deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-20deg);
  /* Firefox */
  -moz-transform: rotate(-20deg);
  /* IE */
  -ms-transform: rotate(-20deg);
  /* Opera */
  -o-transform: rotate(-20deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
 
.highlight-row {
  background-color: lightyellow;
}

.highlight-cell {
  outline: solid red 2px;
}

.comparisons {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
 
}
