<div *ngIf="!isBusy">
  <div class="comparison-blurb">
    <p>
      These numbers basically useless for measuring how cost-effective a school board is running a
      district. They don't account for increases in revenue from business/property development, they don't
      account for budget deficits, the don't reflect how cost-effective a district is compared to other districts.

      Chichester is spending 4-5k more per student than comparable districts,
      but has some of the lowest tax rate increases across the county. 

    </p>
    <ol>
      <li>Chichester's budget is already 21% higher than it should be. <span class="hardcoded">12 - 17 million</span>. 
      </li>
      <li>When you gain <span class="stat">{{stats.chiAssessmentBoostFy1819 | thousandSuff : 1}} </span> in property values, netting an additional <span>3 million</span>
        in local tax revenue from business, it's not hard to keep taxes at the same rate.
      </li>
      <li>When you run a massive deficit (in what is hard not to view as a pure political stunt), it's not hard
        to keep taxes at the same rate. 
      </li>
    </ol>
    <p class="mt-2">

    </p> 
  </div>
  <table class='table table-striped table-sm'>
    <thead>
    <tr>
      <th></th>
      <th class="text-right text-nowrap" *ngFor="let key of objectKeys(comparisons.fiscalYears)">{{comparisons.fiscalYears[key]}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-template let-district ngFor [ngForOf]="comparisons.districtFiscalYearMetrics">
      <tr [ngClass]="{'highlight-row' : district.district.name === 'Chichester'}">
        <td>{{district.district.name}}</td>
        <td class="text-right" *ngFor="let key of objectKeys(comparisons.fiscalYears)">
          <span>{{district.metricsByFiscalYear[key].metrics['TaxRateIncrease'] | percent: '1.1-1'}}</span>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
