td.districts{
  padding: 0;
}
td.metrics{
  padding: 0;
}

@media screen and (max-width: 768px) {
    table.table.wrapper{
        max-width: 100%;
        table-layout: fixed;
    }
    td.districts{
        width: 40%;
    }
    td.metrics{
        width: 50%;
        overflow-x: scroll;
    }
 
}
